.top-nav {
  display: flex;
  max-width: 1260px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.download-cv-button {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 21px;
  background: #3ecf8e;
  border: none;
}
.social-icons-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20.811px;
}
.social-icon-button {
  display: flex;
  width: 69.371px;
  height: 69.371px;
  justify-content: center;
  align-items: center;
  gap: 6.937px;
  border-radius: 20.811px;
  background: #202124;
}
